.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  max-width: 300px; /* Establecer un ancho máximo para el formulario */
  margin: auto; /* Centrar horizontalmente el formulario */
  position: fixed; /* Fijar la posición del formulario */
  top: 50%; /* Colocar el formulario en la mitad superior de la pantalla */
  left: 50%; /* Centrar horizontalmente el formulario */
  transform: translate(-50%, -50%); /* Centrar vertical y horizontalmente el formulario */
}


h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-top: 200px;

}
